<!-- page title area start -->
<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">Tất cả game</h4>
                <ul class="breadcrumbs pull-left">
                    <li><a href="/all">Quản lý game</a></li>
                    <li><span>All</span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 clearfix">
            <div class="user-profile pull-right">
                <img class="avatar user-thumb" src="/assets/images/author/avatar.png" alt="avatar">
                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Kumkum Rai <i class="fa fa-angle-down"></i>
                </h4>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:;">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page title area end -->
<div class="main-content-inner">
    <div class="card-area">
        <div class="row">
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered h-100">
                    <img class="card-img-top img-fluid" src="image/nierautomata.png" alt="image">
                    <div class="card-body">
                        <h5 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dicta.</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci
                            quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam,
                            voluptate maiores, iusto molestias incidunt unde nesciunt cum.
                        </p>
                        <a href="#" class="btn btn-primary">Go More....</a>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-outline-info mb-3">Edit</button>

                            <button type="button" class="btn btn-outline-danger mb-3">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered h-100">
                    <img class="card-img-top img-fluid" src="image/nierautomata.png" alt="image">
                    <div class="card-body">
                        <h5 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dicta.</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci
                            quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam,
                            voluptate maiores, iusto molestias incidunt unde nesciunt cum.
                        </p>
                        <a href="#" class="btn btn-primary">Go More....</a>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-outline-info mb-3">Edit</button>

                            <button type="button" class="btn btn-outline-danger mb-3">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered h-100">
                    <img class="card-img-top img-fluid" src="image/nierautomata.png" alt="image">
                    <div class="card-body">
                        <h5 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dicta.</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci
                            quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam,
                            voluptate maiores, iusto molestias incidunt unde nesciunt cum.
                        </p>
                        <a href="#" class="btn btn-primary">Go More....</a>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-outline-info mb-3">Edit</button>

                            <button type="button" class="btn btn-outline-danger mb-3">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered h-100">
                    <img class="card-img-top img-fluid" src="image/nierautomata.png" alt="image">
                    <div class="card-body">
                        <h5 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dicta.</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci
                            quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam,
                            voluptate maiores, iusto molestias incidunt unde nesciunt cum.
                        </p>
                        <a href="#" class="btn btn-primary">Go More....</a>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-outline-info mb-3">Edit</button>

                            <button type="button" class="btn btn-outline-danger mb-3">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered h-100">
                    <img class="card-img-top img-fluid" src="image/nierautomata.png" alt="image">
                    <div class="card-body">
                        <h5 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dicta.</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci
                            quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam,
                            voluptate maiores, iusto molestias incidunt unde nesciunt cum.
                        </p>
                        <a href="#" class="btn btn-primary">Go More....</a>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-outline-info mb-3">Edit</button>

                            <button type="button" class="btn btn-outline-danger mb-3">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered h-100">
                    <img class="card-img-top img-fluid" src="image/nierautomata.png" alt="image">
                    <div class="card-body">
                        <h5 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dicta.</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci
                            quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam,
                            voluptate maiores, iusto molestias incidunt unde nesciunt cum.
                        </p>
                        <a href="#" class="btn btn-primary">Go More....</a>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-outline-info mb-3">Edit</button>

                            <button type="button" class="btn btn-outline-danger mb-3">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered h-100">
                    <img class="card-img-top img-fluid" src="image/nierautomata.png" alt="image">
                    <div class="card-body">
                        <h5 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dicta.</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci
                            quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam,
                            voluptate maiores, iusto molestias incidunt unde nesciunt cum.
                        </p>
                        <a href="#" class="btn btn-primary">Go More....</a>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-outline-info mb-3">Edit</button>

                            <button type="button" class="btn btn-outline-danger mb-3">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>